
@font-face {
    font-family: 'Rye-Regular';
    src: url('./fonts/Rye-Regular.ttf') format('truetype');
    /* Add additional src lines for different font formats if needed */
}

body {
    background: #067F38;
    color: #0039ac;
    font-family: 'Rye-Regular', sans-serif;
    text-shadow: #FAB117 1px 0 10px;  
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-size: 4em;
    padding: 0.5em;
}
img {
    max-width: 4em;
    max-height: 4em;
}

img:hover {
    transform: scale(1.5);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2em;
    
}

.styled-button {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 0px 3px 2px #ffffff;
    -webkit-box-shadow: 0px 0px 30px #333333;
    -moz-box-shadow: 0px 0px 30px #333333;
    box-shadow: 0px 0px 30px #333333;
    font-family: Georgia;
    color: #333333;
    font-size: 20px;
    background: #FAB117;
    padding: 10px 20px 10px 20px;
    border: solid #333333 2px;
    text-decoration: none;
    margin: 1em;
}

.styled-button:hover {
    background: #0039ac;
    background-image: -webkit-linear-gradient(top, #0039ac, #067F38);
    background-image: -moz-linear-gradient(top, #0039ac, #067F38);
    background-image: -ms-linear-gradient(top, #0039ac, #067F38);
    background-image: -o-linear-gradient(top, #0039ac, #067F38);
    background-image: linear-gradient(to bottom, #0039ac, #067F38);
    text-decoration: none;
  }

  .countdown-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.countdown {
    background: #0039ac; 
    color: white;
    font-size: 2em;
    text-align: center;
}

.section-divider {
  width: 100%;
  height: .25em; /* Thickness of the divider */
  background: #333333; /* Solid color */
  background-image: linear-gradient(to right, #000000, #333333, #000000); /* Gradient effect */
  margin-top: 40px; /* Space around the divider */
}

#Draft-Information {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.container-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-basis: 45%;
  justify-content: space-between;
  margin-bottom: 20px;
}


.container-draft-budget {
  display: flex;
  flex-basis: 45%;
  flex: 1;
  flex-direction: column;
  background-color: #067F38;
  padding: 1em;
  font-size: 1em;
}

.table-row-draft-budget-header {
  color: #FAB117;
  background-color: #0039ac;
  font-weight: bold; 
  font-family: sans-serif;
  text-shadow: none;
}

.table-row-stockton-stormbringers {
  color: #72FF13;
  background-color: #000000;
  font-family: sans-serif;
  text-shadow: none;
}

.table-row-honolulu-huskies {
  color: #ffffff;
  background-color: #800080;
  font-family: sans-serif;
  text-shadow: none;
}

.table-row-brooklyn-banditos {
  color: #0000ff;
  background-color: #a9a9a9;
  font-family: sans-serif;
  text-shadow: none; 
}

.table-row-calgary-catfish {
  color: #008000;
  background-color: #ffff00;
  font-family: sans-serif;
  text-shadow: none; 
}

.table-row-teamname1 {
  color: #000000;
  background-color: #ddd;
  font-family: sans-serif;
  text-shadow: none; 
}

.table-row-teamname2 {
  color: #000000;
  background-color: #ddd;
  font-family: sans-serif;
  text-shadow: none;
}

.table-row-teamname3 {
  color: #000000;
  background-color: #ddd;
  font-family: sans-serif;
  text-shadow: none;
}

.table-row-teamname4 {
  color: #000000;
  background-color: #ddd;
  font-family: sans-serif;
  text-shadow: none;
}

.container-rookie-draft-lottery{
  display: flex;
  flex-basis: 45%;
  flex: 1;
  flex-direction: column;
  background-color: #067F38;
  padding: 1em;
}

.container-draft-result {
  display: flex;
  flex-basis: 45%;
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
}

.container-rookie-draft-order {
  display: flex;
  flex-basis: 45%;
  flex: 1;
  flex-direction: column;
  background-color: #067F38;
  padding: 1em;
  font-size: 1em;
}

.container-draft-grade {
  display: flex;
  flex-basis: 45%;
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
}

.container-rookie-draft-result {
  display: flex;
  flex-basis: 45%;
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
}

.container-draft-trades {
  display: flex;
  flex-basis: 45%;
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
}

.container-rookie-draft-trades {
  display: flex;
  flex-basis: 45%;
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
}

.container-rookie-draft-grade {
  display: flex;
  flex-basis: 45%;
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
}

h2 {
  margin-top: 0;
}

#footer {
  flex-basis: 50%; /* adjust the width of each container */
  margin: 1em;
  padding: 1em;
}

.list-container {
  display: inline-flex;
  flex-direction: column;
  margin: .5em;
  padding-left: 3em;
  padding-right: 3em;
}

.list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  margin-bottom: 10px;
}

.list-container a:hover {
  text-decoration: underline;
}