@font-face {
    font-family: 'Rye-Regular';
    src: url('./fonts/Rye-Regular.ttf') format('truetype');
    /* Add additional src lines for different font formats if needed */
}

body {
    background: #067F38;
    color: #0039ac;
    font-family: 'Rye-Regular', sans-serif;
    text-shadow: #FAB117 1px 0 10px;
    width: 98vw;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-size: 3em;
    padding: .5em;
    width: 90vw;
}

.h1-container {
  display: flex;
  flex: 1;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;      /* Center text inside the container */
  font-size: 1.25em;
  width: 90vw;
  padding: 2em;
}

img {
  max-width: 4em;
  max-height: 4em;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.container-row {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
}

/* Add some margin and padding to the top-leaders section */
#top-leaders {
  margin: 2rem 0;
  padding: 0 1rem;
  text-shadow: none;
}

/* Style the table */
#top-offensive-scorers table,
#top-defensive-scorers table {
  border-collapse: collapse;
  width: 42vw;
}

/* Style the table cells */
#top-offensive-scorers th,
#top-defensive-scorers th {
  background-color: #dddddd;
  border: 1px solid #067F38;
  padding: 12px;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: sans-serif;
}

#top-offensive-scorers td,
#top-defensive-scorers td {
  border: 1px solid #067F38;
  padding: 12px;
  text-align: center;
  font-size: 1.1rem;
}

#top-offensive-scorers tr:nth-child(even),
#top-defensive-scorers tr:nth-child(even) {
  background-color: #dddddd;
}

#top-defensive-scorers tr:nth-child(odd),
#top-offensive-scorers tr:nth-child(odd) {
  background-color: #000000;
}

/* Style the player column */
#top-offensive-scorers th:nth-child(2),
#top-defensive-scorers th:nth-child(2) {
  width: 30%;
}

/* Style the team column */
#top-offensive-scorers th:nth-child(3),
#top-defensive-scorers th:nth-child(3) {
  width: 30%;
}

/* Style the fantasy points column */
#top-offensive-scorers th:nth-child(4),
#top-defensive-scorers th:nth-child(4) {
  width: 30%;
}

/* Style the h2 elements */
#top-offensive-scorers h2,
#top-defensive-scorers h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000000;
}

/* Add some margin and padding to the top-leaders section */
#offensive-leaders {
  margin: 2rem 0;
  padding: 0 1rem;
  text-shadow: none;
}

/* Style the table */
#passing-leaders table,
#rushing-leaders table,
#receiving-leaders table {
  border-collapse: collapse;
  width: 80vw;
  font-family: 'Rye-Regular', sans-serif;

}

/* Style the table cells */
#passing-leaders,
#rushing-leaders,
#receiving-leaders {
  border: 1px solid #067F38;
  padding: 12px;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: sans-serif;
}

#passing-leaders td,
#rushing-leaders td,
#receiving-leaders td {
  border: 1px solid #067F38;
  padding: 12px;
  text-align: center;
  font-size: 1.1rem;
}

#passing-leaders tr:nth-child(even),
#rushing-leaders tr:nth-child(even),
#receiving-leaders tr:nth-child(even) {
  background-color: #dddddd;
}

#passing-leaders tr:nth-child(odd),
#rushing-leaders tr:nth-child(odd),
#receiving-leaders tr:nth-child(odd) {
  background-color: #000000;
}

/* Style the player column */
#passing-leaders th:nth-child(2),
#rushing-leaders th:nth-child(2),
#receiving-leaders th:nth-child(2) {
  width: 30%;
}

/* Style the team column */
#passing-leaders th:nth-child(3),
#rushing-leaders th:nth-child(3),
#receiving-leaders th:nth-child(3) {
  width: 30%;
}

/* Style the fantasy points column */
#passing-leaders th:nth-child(4),
#rushing-leaders th:nth-child(4),
#receiving-leaders th:nth-child(4) {
  width: 30%;
}

/* Style the h2 elements */
#passing-leaders h2,
#rushing-leaders h2,
#receiving-leaders h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000000;
  font-family: 'Rye-Regular', sans-serif;

}

.section-divider {
  width: 100%;
  height: .25em; /* Thickness of the divider */
  background: #333333; /* Solid color */
  background-image: linear-gradient(to right, #000000, #333333, #000000); /* Gradient effect */
  margin-top: 40px; /* Space around the divider */
}

#footer {
  flex-basis: 50%; /* adjust the width of each container */
  margin: 1em;
  padding: 1em;
}

.list-container {
  display: inline-flex;
  flex-direction: column;
  margin: .5em;
  padding-left: 3em;
  padding-right: 3em;
}

.list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  margin-bottom: 10px;
}

.list-container a:hover {
    text-decoration: underline;
  }
