
@font-face {
    font-family: 'Rye-Regular';
    src: url('../fonts/Rye-Regular.ttf') format('truetype');
    /* Add additional src lines for different font formats if needed */
}

body {
    background: #067F38;
    color: #0039ac;
    font-family: 'Rye-Regular', sans-serif;
    text-shadow: #FAB117 1px 0 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-size: 4em;
    padding: 0.5em;
}

.h1-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;      /* Center text inside the container */
  font-size: 1.25em;
}

img {
  max-width: 4em;
  max-height: 4em;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.section-divider {
  width: 100%;
  height: .25em; /* Thickness of the divider */
  background: #333333; /* Solid color */
  background-image: linear-gradient(to right, #000000, #333333, #000000); /* Gradient effect */
  margin-top: 40px; /* Space around the divider */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2em;
  width: 100%; /* Full width */
}

.box-1 header   {
  font-size: 3.25em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.box-1 {
  margin-left: 0;
  background-color: #000000;
  color: #72FF13;
  border: #72FF13 solid .25em;
  font-family: sans-serif;
  text-shadow: none;
  padding: 2em; /* Increased padding */
  flex: 1;
  margin: 0 10px;
  text-align: left;
  margin-top: 2em;
}

.box-2 header   {
  font-size: 3.25em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.box-2 {
  background-color: #800080;
  color: #ffffff;
  border: #ffffff solid .25em;
  font-family: sans-serif;
  text-shadow: none;
  padding: 2em; /* Increased padding */
  flex: 1;
  margin: 0 10px;
  text-align: left;
  margin-top: 2em;
}

.box-3 header   {
  font-size: 3.25em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.box-3 {
  background-color: #0000ff;
  color: #a9a9a9;
  border: #a9a9a9 solid .25em;
  font-family: sans-serif;
  text-shadow: none;
  padding: 2em; /* Increased padding */
  flex: 1;
  margin: 0 10px;
  text-align: left;
  margin-top: 2em;
}

.box-4 header   {
  font-size: 3.25em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.box-4 {
  background-color: #008000;
  color: #ffff00;
  border: #ffff00 solid .25em;
  font-family: sans-serif;
  text-shadow: none;
  padding: 2em; /* Increased padding */
  flex: 1;
  margin: 0 10px;
  text-align: left;
  margin-top: 2em;
}

.box-5 header   {
  font-size: 3.25em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.box-5 {
  background-color: #ddd;
  color: #000000;
  border: #000000 solid .25em;
  font-family: sans-serif;
  text-shadow: none;
  padding: 2em; /* Increased padding */
  flex: 1;
  margin: 0 10px;
  text-align: left;
  margin-top: 2em;
}

.box-6 header   {
  font-size: 3.25em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.box-6 {
  background-color: #ddd;
  color: #000000;
  border: #000000 solid .25em;
  font-family: sans-serif;
  text-shadow: none;
  padding: 2em; /* Increased padding */
  flex: 1;
  margin: 0 10px;
  text-align: left;
  margin-top: 2em;
}

.box-7 header   {
  font-size: 3.25em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.box-7 {
  background-color: #ddd;
  color: #000000;
  border: #000000 solid .25em;
  font-family: sans-serif;
  text-shadow: none;
  padding: 2em; /* Increased padding */
  flex: 1;
  margin: 0 10px;
  text-align: left;
  margin-top: 2em;
}

.box-8 header   {
  font-size: 3.25em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.box-8 {
  background-color: #ddd;
  color: #000000;
  border: #000000 solid .25em;
  margin-right: 0;
  font-family: sans-serif;
  text-shadow: none;
  padding: 2em; /* Increased padding */
  flex: 1;
  margin: 0 10px;
  text-align: left;
  margin-top: 2em;
}

.styled-button {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 0px 3px 2px #ffffff;
    -webkit-box-shadow: 0px 0px 30px #333333;
    -moz-box-shadow: 0px 0px 30px #333333;
    box-shadow: 0px 0px 30px #333333;
    font-family: Rye-Regular;
    color: #333333;
    font-size: 20px;
    background: #FAB117;
    padding: 10px 20px 10px 20px;
    border: solid #333333 2px;
    text-decoration: none;
    margin: 1em;
}

.styled-button:hover {
    background: #0039ac;
    background-image: -webkit-linear-gradient(top, #0039ac, #067F38);
    background-image: -moz-linear-gradient(top, #0039ac, #067F38);
    background-image: -ms-linear-gradient(top, #0039ac, #067F38);
    background-image: -o-linear-gradient(top, #0039ac, #067F38);
    background-image: linear-gradient(to bottom, #0039ac, #067F38);
    text-decoration: none;
  }

  .power-rankings-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#table-rankings {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#table-rankings th, #table-rankings td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#table-rankings th {
    background-color: #007bff;
    color: white;
}

#table-rankings tr:hover {
    background-color: #f1f1f1;
}

#table-rankings td {
    text-align: center;
}

.news-container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#h1news {
  text-align: center;
  color: #333;
}

#h2news {
  color: #444;
}

p {
  line-height: 1.6;
}

.headline {
  margin-bottom: 20px;
}

.quick-hits {
  list-style-type: none;
  padding: 0;
}

.quick-hits li {
  background: #e9e9e9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.recap-container {
  display: none;
  padding: 1em;
}

.recap-container.active {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#h2recap {
  color: #444;
}

p {
  line-height: 1.6;
}

.game-recap {
  margin-bottom: 20px;
}

.overall-highlights {
  list-style-type: none;
  padding: 0;
}

.overall-highlights li {
  background: #e9e9e9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
}

.list-container {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
}

.list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  margin-bottom: 10px;
}

.list-container a:hover {
  text-decoration: underline;
}