@font-face {
    font-family: 'Rye-Regular';
    src: url('fonts/Rye-Regular.ttf') format('truetype');
    /* Add additional src lines for different font formats if needed */
}

body {
    background: #067F38;
    color: #0039ac;
    font-family: 'Rye-Regular', sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.styled-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

img {
    width: 9em;
    height: 9em;
}